<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pudge.cn.iot.system.user.mapper.AreasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pudge.cn.iot.api.user.entity.Areas">
        <id column="areaid" property="areaid" />
        <result column="area" property="area" />
        <result column="cityid" property="cityid" />
    </resultMap>

</mapper>
